@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 50px 0;
}

header {
  padding: 30px;
  .logo-scafeli {
    font-size: 26px;
    margin-right: 30px;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }
}

.hero {
  padding-bottom: 50px;
  h1 {
    font-size: 50px;
  }
}

.social {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding-left: 15px;
    }
  }
}

footer {
  padding: 30px;
  color: #999999;
  p {
    margin-bottom: 0;
  }
}
